# Discord bot token
# https://discord.com/developers/applications
BOT_TOKEN=JFIiasfjioFIAOJFOIJIOSAF.AFo-7A.akwFakeopfaWPOKawPOFKOAKFPA

# Time zone that you are in. This is used when typing "Friday 22:00" and more.
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# You want to use the TZ databse name.
TIMEZONE=Europe/Stockholm

# Optional: Change sqlite database location.
# SQLITE_LOCATION=/jobs.sqlite # This will be created in the repo root (This is the default if not set).
# SQLITE_LOCATION=/C:\\Users\\Jocke\\Desktop\\db.sqlite3 # Note the double backslashes and the first slash.
# SQLITE_LOCATION=//home/lovinator/foo.db # On Linux you will need to use double slashes before the path to get the
# absolute path.

# Log level, CRITICAL, ERROR, WARNING, INFO, DEBUG.
LOG_LEVEL=INFO

# Webhook that discord-reminder-bot will send errors and information about missed reminders.
# https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks
# Right click channel in Discord -> Intergrations -> Webhooks -> Create Webhook.
WEBHOOK_URL=https://discord.com/api/webhooks/582696524044304394/a3CMwZWchmHAXItB_lzSSRYBx0-AlPAHseJWqhHLfsAg_X4erac9-CeVeUDqPI1ac1vT

# Custom Sentry DSN for error tracking.
# https://docs.sentry.io/concepts/key-terms/dsn-explainer/
# SENTRY_DSN=
