[Unit]
Description=discord-reminder-bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/discord-reminder-bot
ExecStart=/usr/bin/pipenv run python %h/discord-reminder-bot/main.py
Restart=always

[Install]
WantedBy=multi-user.target